body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #333;
}
.logo{
    padding-left: 10px;
}
.nav-link{
    list-style: none;
    padding-right: 25px;
}
.nav-link li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-link li a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
.toggle-btn{
    position: absolute;
    top: 12px;
    right: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-btn .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.nav-link li a:hover{
    top: -5px;
}

.container{
    display: flex;
    height: 100px;
    width: 100%;
    align-content: center;
    justify-content: center;
    background-color: #CB2027;
}
.map-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    font-weight: 700;
    color: #fff;
}
.mapInput{
    pointer-events: auto;
}
button.mapInput{
    cursor: pointer;
    height: 90px;
    width: 90px;
    border-radius: 10px;
}
.recenter-btn{
    background-image: url('./dist/mapinputs/recenter.png');
    background-size: cover;
}
.newflight{
    background-image: url('./dist/mapinputs/newflightplan.png');
    background-size: cover;
}
.clearflight{
    background-image: url('./dist/mapinputs/clearflight.png');
    background-size: cover;
}
.waypointicon{
    background-image: url('./dist/icons/waypoint.png');
    background-size: cover;
}
.leaflet-marker-icon:not(:hover) {
    z-index: 0 !important;
  }
#mapid {
    display: flex;
    width: 100vw;
    height: 1024px;
    cursor: default;
}

.midpoint-label{
    font-family: 'Roboto Mono', monospace;
    min-width: 310px;
    min-height: 1.5em;
    font-size: 1.5em;
    background-color: #fff;
    box-shadow: 2px 2px 7px 2px #000000;
    z-index: 900;
}
.icon-label{
    font-family: 'Roboto Mono', monospace;
    padding-top: 25px;
    z-index: 400;
}

.input-container{
    position: absolute;
    height: 600px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 350px;
    left: 10px;
    z-index: 999;
}

@media (max-width: 1024px){
    .toggle-btn{
        display: flex;
    }
    .nav-link{
        display: none;
        width: 100%;
    }
    .nav-container{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-link li a{
        padding: .5rem 1rem;
    }
    .nav-link.active{
        display: flex;
    }
    button.mapInput{
        cursor: pointer;
        height: 75px;
        width: 75px;
        border-radius: 10px;
    }
    #mapid{
        height: 100vh;
    }
    .input-container{
        height: 575px;
        width: 150px;
        top: 300px;
    }
    .container{
        height: 100px;
    }
    .midpoint-label{
        min-width: 300px;
        min-height: 1.3em;
        font-size: 1.4em;
    }
    .map-label{
        font-size: 25px;
        font-weight: bold;
    }
}

@media (max-width: 500px){
    .logo{
        width: 320px;
        padding: 0;
    }
    .nav-link{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .map-title{
        font-size: 50px;
    }
    button.mapInput{
        cursor: pointer;
        height: 60px;
        width: 60px;
        border-radius: 10px;
    }
    #mapid{
        height: 100vh;
    }
    .input-container{
        height: 425px;
        width: 100px;
        top: 250px;
    }
    .container{
        height: 75px;
    }
    .midpoint-label{
        min-width: 250px;
        min-height: 1.3em;
        font-size: 1.2em;
    }
    .map-label{
        font-size: 14px;
        font-weight: bold;
    }
}