body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #333;
    font-family: 'Roboto Slab', serif;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #333;
}
.map-container{
    height: 100%;
    width: 100%;
    background-color: #d2d2ca;
}
html{
    height: 100%;
    width: 100%;
}
#mapid {
    height: 100%;
    width: 100%;
    cursor: default;
}
.logo{
    padding-left: 10px;
}
.nav-link{
    list-style: none;
    padding-right: 25px;
}
.nav-link li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-link li a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
.toggle-btn{
    position: absolute;
    top: 12px;
    right: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-btn .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.nav-link li a:hover{
    top: -5px;
}

.container{
    display: flex;
    height: 100px;
    width: 100%;
    align-content: center;
    justify-content: center;
    color: #fff;
    background-color: #CB2027;
    border-bottom: 1px solid black;
}
.content-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    font-weight: 700;
    color: #fff;
}
.map-input{
    pointer-events: auto;
}

.leaflet-marker-icon:not(:hover) {
    z-index: 0 !important;
  }

.midpoint-label{
    font-family: 'Roboto Mono', monospace;
    min-width: 320px;
    min-height: 1.5em;
    font-size: 1.5em;
    position: absolute;
    left: -120px;
    background-color: #fff;
    box-shadow: 2px 2px 7px 2px #000000;
    z-index: 900;
}
.icon-label{
    font-family: 'Roboto Mono', monospace;
    padding-top: 25px;
    z-index: 400;
}

.input-container{
    display: none;
}
.input-container.active{
    position: absolute;
    height: 96%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 1s;
    right: -250px;
    animation: slide 0.5s forwards;
    bottom: 0;
    background-color: #333;
    z-index: 999;
}
@keyframes slide {
    100% { right: 0; }
}
.input-container h2{
    text-align: center;
    color: white;
    font-size: 25px;
}
.input-btns{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: 1;
    padding: 25px 0;
}
.input-tools{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 20px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px 0;
    color: white;
    font-size: 25px;
}
.map-input{
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.map-input:hover{
    transform: scale(.95);
}
.waypoint-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./dist/icons/waypoint.png');
    background-size: cover;
    background-color: white;
    height: 50px;
    width: 50px;
}
.map-label{
    background-color: #333;
}
.flight-speed{
    text-align: center;
    margin-left: 25px;
    width: 50%;
    display: inline;
    font-size: 20px;
}
.speed-label{
    color: white;
    padding-left: 25px;
    text-align: center;
}
.convertspeed{
    height: 30px;
    font-size: 20px;
    margin-left: auto;
    cursor: pointer;
    color: white;
    background-color: red;
    border: none;
    transition: all .2s;
}
.convertspeed:hover{
    background-color: #f06161;
    font-size: 18px;
}
.convertspeed:active{
    transform: translateY(1px);
}
.toolbar-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 50px;
    right: 100px;
    height: 50px;
    width: 50px;
    background-color: #333;
    color: white;
    font-size: 25px;
    border-radius: 50%;
    box-shadow: 2px 0 0 2px #e7dbdb;
    z-index: 999;
    transition: all .2s ease-in-out;
}
.toolbar-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.toolbar-close{
    margin-left: 20px;
    margin-top: 10px;
    color: red;
    font-size: 30px;
    transition: transform .5s;
}
.flight-controls{
    margin-bottom: 100px;
}
.accept-flight{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flight-controls button{
    width: 50px;
    height: 50px;
    background-color: #1de41d;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    align-self: center;
    box-shadow: 1px 0 0 1px #1f1e1e;
    transition: all .2s ease-in-out;
}
.flight-controls button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.flight-controls button:active{
    transform: translateY(1px);
}
.toolbar-close:hover{
    cursor: pointer;
    transform: scale(0.9);
}
.map-select{
    position: absolute;
    background-color: #333;
    color: white;
    border-radius: 10px;
    padding: 8px 15px;
    height: 60px;
    width: 160px;
    top: 70px;
    left: 75px;
    z-index: 999;
}
.mapchoice{
    padding: 5px 3px;
    margin-top: 3px;
}
.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #333;
}
.contact-form{
    max-width: 500px;
    margin: 32px auto;
    background-color: #fff;
    padding: 32px;
    border-radius: 10px;
}
.contact-form label{
    display: block;
    color: black;
    font-size: 30px;
    padding: 8px 0;
    border-radius: 5px;
}
.contact-form input,textarea{
    display: block;
    font-size: 25px;
    width: 100%;
}
.contact-form button{
    border: 0;
    border-radius: 16px;
    background-color: #cb2026;
    padding: 8px;
    color: #fff;
    margin: 16px 0;
    font-size: 25px;
    width: auto;
    cursor: pointer;
}
.contact-form button:hover{
    background-color: #c46265;
}
.contact-form button:active{
    transform: translateY(4px);
}
.form-info{
    width: 300px;
    margin: 32px auto 32px 0;
    padding: 32px;
    background-color: #fff;
    border-radius: 10px;
}
.contact-list{
    list-style: none;
}
.form-info h3{
    font-size: 25px;
    padding-bottom: 20px;
}
.contact-list li{
    font-size: 16px;
    padding: 35px 10px 35px 10px;
    border-bottom: 1px solid black;
}
.inprogress{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.inprogress h1{
    color: #fff;
    font-size: 125px;
}

@media (max-width: 1024px){
    .toggle-btn{
        display: flex;
    }
    .nav-link{
        display: none;
        width: 100%;
    }
    .nav-container{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-link li a{
        padding: .5rem 1rem;
    }
    .nav-link.active{
        display: flex;
    }
    button.map-input{
        cursor: pointer;
        height: 75px;
        width: 75px;
        border-radius: 10px;
    }
    .input-container{
        height: 100vh;
        padding-top: 5px;
    }
    .container{
        height: 100px;
    }
    .midpoint-label{
        min-width: 275px;
        min-height: 1.2em;
        font-size: 1.3em;
    }
    .map-label{
        font-size: 20px;
        font-weight: normal;
        width: 100px;
    }
    .input-container .map-label{
        width: 100%;
        font-size: 18px;
    }
    .map-select{
        border-radius: 10px;
        padding: 5px 8px;
        height: 65px;
        width: 160px;
        top: 65px;
    }
    .contact-form{
        max-width: 400px;
        margin: 32px auto;
    }
    .contact-form label{
        font-size: 25px;
    }
    .form-info{
        width: 300px;
        margin: 32px auto;
        padding: 32px;
    }
}

@media (max-width: 640px){
    .logo{
        width: 320px;
        padding: 0;
    }
    .nav-link{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .content-title{
        font-size: 50px;
    }
    button.map-input{
        cursor: pointer;
        height: 55px;
        width: 55px;
        border-radius: 10px;
    }
    .toolbar-btn{
        right: 50px;
    }
    .container{
        height: 75px;
    }
    .midpoint-label{
        min-width: 225px;
        min-height: 1.2em;
        font-size: 1.1em;
    }
    .map-label{
        width: 100%;
    }
    .map-label input{
        width: 100px;
        height: 25px;
        font-size: 20px;
    }
    .map-select{
        border-radius: 10px;
        padding: 5px 8px;
        height: 55px;
        width: 160px;
        top: 50px;
        left: 70px;
    }
    .flight-speed{
        width: 50px;
        font-size: 12px;
    }
    .contact-title{
        font-size: 45px;
    }
    .inprogress h1{
        color: #fff;
        font-size: 75px;
    }
    .input-container.active{
        width: 200px;
    }
    .input-tools{
        margin: 10px 0;
        padding: 5px 0;
    }
    .input-btns{
        padding: 20px 0;
    }
    .accept-flight button{
        font-size: 25px;
        height: 40px;
        width: 40px;
    }
    .map-label label{
        font-size: 15px;
    }
}
@media (max-width:360px) {
    .input-container.active{
        width: 165px;
        height: 100%;
    }
    .input-tools{
        font-size: 15px;
        width: 155px;
        height: 50px;
        padding: 0;
        margin: 0;
    }
    .input-btns{
        padding: 15px 0;
    }
    .flight-controls{
        margin-bottom: 0;
        height: 140px;
    }
    .flight-controls h2{
        font-size: 15px;
    }
    .accept-flight button{
        font-size: 15px;
        height: 30px;
        width: 30px;
    }
    .logo{
        width: 280px;
        padding: 0;
    }
    .map-label{
        text-align: center;
    }
}